<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/boardList.js"> </script>
    <title>게시글 리스트 페이지</title>
</head>
<style>
    .layout{
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

    nav{
        float: right;
    }
</style>

<body>
<div class="layout">
    <div class="float-right">
        <a  id="login" href="#"  type="button"> 로그인  </a>
        <button id="logOut">로그아웃</button>
    </div>


    <div class="search-form">
        <form id="searchForm">
            <label for="searchInput"></label>
            <input type="text" id="searchInput" placeholder="게시글 제목 검색">
            <button type="submit">검색</button>
        </form>

    </div>
    <div id="searchResults">
        <ul id="resultList">

        </ul>
    </div>


    <table id="boardTable">
        <thead>
        <tr>
            <th>글 번호</th>
            <th>제목입니다</th>
        </tr>
        </thead>
        <tbody id="boardTableBody">

        </tbody>
    </table>
    <a id="write" href="#">글쓰기</a>
</div>
<div class="paging">
    <i class="fa-solid fa-angles-left" id="first_page"><<</i>
    <i class="fa-solid fa-angle-left" id="prev_page"><</i>
    <div class="pages"></div>
    <i class="fa-solid fa-angle-right" id="next_page">></i>
    <i class="fa-solid fa-angles-right" id="last_page">>></i>
</div>


</body>
</html>