<!DOCTYPE html >
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/boardDetailList.js"> </script>
    <title>게시글 상세 페이지</title>
</head>
<body>

<h1 id="title">제목입니다.</h1>
<p id="content">내용이 들어갈 부분입니다.</p>
<button id="deleteButton">삭제</button>
<a id="modify" href="#">수정 </a>
</body>
</html>