<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/static/js/boardList.js}"></script>
    <title>게시글 리스트 페이지</title>
</head>
<style>
    .layout{
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

    nav{
        float: right;
    }

    .language-menu {

        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 5px;
        z-index: 1000;
    }


</style>

<body>
<div layout:fragment="header"></div>

<div  class="language-menu">
    <select class="form-select" aria-label="Default select example" id="locales" >
        <option selected th:text="#{lang.change}"></option>
        <option value="ko" th:text="#{lang.ko}"></option>
        <option value="en" th:text="#{lang.en}"></option>

    </select>
</div>

    <div class="layout">

            <div class="float-right">
                <a  id="login" href="#"  type="button" th:text="#{user.login}"> 로그인  </a>
                <a id="logOut" href="#" type="button" th:text="#{user.logout}">로그아웃</a>

            </div>



        <div class="search-form">
            <form id="searchForm">
                <label for="searchInput"></label>
                <input type="text" id="searchInput" th:placeholder="#{search.placeholder}">
                <button type="submit" th:text="#{board.search}" >검색</button>
            </form>

        </div>
        <div id="searchResults">
            <ul id="resultList">

            </ul>
        </div>


        <table id="boardTable">
            <thead>
            <tr>
                <th th:text="#{board.number}">글 번호</th>
                <th th:text="#{board.title}">제목입니다</th>
            </tr>
            </thead>
            <tbody id="boardTableBody">

            </tbody>
        </table>
        <a id="write" href="#" th:text="#{board.write}"   th:if="${#authorization.expression('isAuthenticated()')}">글쓰기</a>
    </div>
    <div class="paging">
        <i class="fa-solid fa-angles-left" id="first_page"><<</i>
        <i class="fa-solid fa-angle-left" id="prev_page"><</i>
        <div class="pages"></div>
        <i class="fa-solid fa-angle-right" id="next_page">></i>
        <i class="fa-solid fa-angles-right" id="last_page">>></i>
    </div>
<div layout:fragment="footer"></div>

</body>
</html>