<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>로그인 페이지</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/static/js/login.js}"></script>
</head>
<body>
<div layout:fragment="header"></div>

  <form id="loginForm">
    <input name="userid" type="text" id="memberId" th:placeholder="#{login.id}" >
    <input name="password" type="text" id="password" th:placeholder="#{login.password}">
    <button type="button" id="loginButton" th:text="#{login.complete}">작성</button>
  </form>

<div layout:fragment="footer"></div>
</body>
</html>
